@using SadStore.Services
@inject LanguageService Lang

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
        @Lang.Get(TempData["SuccessMessage"].ToString())
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
        @Lang.Get(TempData["ErrorMessage"].ToString())
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}