@model IEnumerable<SadStore.Data.Category>
@inject SadStore.Services.LanguageService Lang

@{
    var isRtl = Lang.IsRtl();
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "active" : "")" href="/">
            @Lang.Get("Home")
        </a>
    </li>

    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link" href="/Products?category=@item.NameEn">
                @(isRtl? item.NameAr: item.NameEn)
            </a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link" href="/Home/Contact">
            @Lang.Get("Contact Us")
        </a>
    </li>
</ul>